
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
  }

  .container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-image: url('web.jpg');
  }

  h1 {
    text-align: center;
    margin-bottom: 30px;
  }

  label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
  }

  input[type="text"],
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
  }

  textarea {
    height: 150px;
  }

  .button {
    display: block;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
  padding: 8px 16px;
  background-color: #fd264a;
  color: #FFFFFF;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid #ccc;
  text-align: center;
width:200px;
text-decoration: none;
  }

  .button:hover {
    background-color: #fa1239;
  }

#n{
  color:white;
}